.fan_box .connect_widget .connect_widget_interactive_area {
    margin:0 !important;
		padding: 10px;
}

.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}




.fan_box .profileimage, .fan_box .name_block{
  display: none;
}

.fan_box .connect_action{
  padding: 0 !important;
}

.fan_box .full_widget {
 background:transparent !important;
 border:0;
}